/** HubSpot newsletter slider */
#hs-slider{
	background: #000;
	color: #fff;
	max-width: 17.15em;
	white-space: normal;
	text-align: left;
	padding: .5em .75em;
}
	#hs-slider > .big{
		font-weight: 600;
		font-size: 1.125em;
		text-transform: uppercase;
	}
		/** Wrap "Australian Marketers" better */
		#hs-subscribe > p > span{
			white-space: nowrap;
		}

	#hs-slider > p{
		margin: .4em 0 .75em;
		font: .75em "Open Sans";
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
	
	#hs-slider > .btn{
		display: block;
		font-size: 1em;
	}


/** HubSpot lightbox/modal dialogue */
#hs-lightbox{
	padding: 1em;
}
	#hs-subscribe input{
		font-size: 1.25em;
	}

	#hs-subscribe{
		position: relative;
		padding: 2em 2em 2.5em;
		z-index: 9;
	}
		/** Offset border */
		#hs-subscribe::before{
			content: "";
			position: absolute;
			top:	0;
			left:	0;
			right:	0;
			bottom:	0;
			margin:	.5em;
			border: 2px solid #ababab;
			z-index: -1;
		}

		/** Close button */
		#hs-subscribe > .close{
			color:	#cdcbcb;
			margin: .05em .3em;
			font-size: 3em;
		}
			#hs-subscribe > .close:hover{
				color: #000;
			}


		/** "Oh, hey!" */
		#hs-lightbox .big{
			font: italic 5.25em Georgia;
		}


		/** Centred blue text */
		#hs-subscribe > p{
			color: #009ed5;
			font-size: 1.5em;
			margin: .5em 1em;
		}
			/** Join 2,000+ other Australian marketers*/
			#hs-subscribe > p:first-of-type{
				text-transform: uppercase;
			}

			/** "Get monthly newsletters delivered straight to your inbox" */
			#hs-subscribe > p ~ p{
				margin: .5em auto;
				font-style: italic;
				max-width: 20em;
			}





/*=============================================================================*
	1. SMARTPHONES (< 600)
===============================================================================*/
@media not all and (min-width: 37.5em){

#hs-subscribe{
	padding: 1em 1.5em 1.5em;
}
	/** Generated border */
	#hs-subscribe::before{
		border-width: 1px;
		margin: .25em;
	}
	
	/** Close button */
	#hs-subscribe > .close{
		margin: 0 .2em;
	}

	/** "Oh, hey!" */
	#hs-lightbox .big{
		font-size: 3em;
		margin-bottom: .25em;
	}

	#hs-subscribe input,
	#hs-subscribe > p{
		font-size: 1.25em;
		margin: 0;
	}


	#hs-subscribe > fieldset{
		margin-top: 0;
	}
		/** Knock the columns down so they become rows */
		#hs-subscribe > fieldset > label{
			padding: 0;
			width: auto;
			display: block;
			margin: 1em auto .5em;
		}
			/** Validation error */
			#hs-subscribe .error{
				font-size: .9em;
				padding-left: 0;
			}
				#hs-subscribe .show.error{
					margin-top: .5em;
				}

	/** Submission button */
	#hs-subscribe > .gold{
		max-width: none;
		margin-top: 1em;
	}

}


/*=============================================================================*
	1.5 TINY SMARTPHONES (< 400)
===============================================================================*/
@media (max-width: 25em){
#hs-subscribe{
	padding-left: 1em;
	padding-right: 1em;
}
	#hs-lightbox .big{
		font-size: 2.8em;
	}

	#hs-subscribe > fieldset > label{
		margin: 1em 0 0;
		font-size: .9em;
	}
	#hs-subscribe input,
	#hs-subscribe > p{
		font-size: 1em;
	}
	
	#hs-subscribe > .gold{
		margin-top: 1.25em;
	}
}
