html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none!important}a{background-color:transparent}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

*{
	tab-size: 4;
	-webkit-box-sizing:	border;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}
	:focus{outline: none}




/*=============================================================================*
	1. ELEMENTS
===============================================================================*/

html{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-font-feature-settings:	"liga" 1, "calt" 1, "swsh" 1;
	-moz-font-feature-settings:		"liga=1, calt=1, swsh=1";
	-moz-font-feature-settings:		"liga" 1, "calt" 1, "swsh" 1;
	-o-font-feature-settings:		"liga" 1, "calt" 1, "swsh" 1;
	font-feature-settings:			"liga" 1, "calt" 1, "swsh" 1;
}

a{
	color: #009ed5;
	text-decoration: none;
}
	a:hover{
		color: #333;
		text-decoration: none;
	}


label{
	cursor: pointer;
}

abbr[title]{
	border-bottom: 0;
}


/** Images */
img{
	max-width: 100%;
	vertical-align: top;
	height: auto;
}


/** Headings */
h1, h2, h3, h4, h5, h6{
	font: italic 1em Georgia, serif;
	border: 0 solid #949494;
	padding-bottom: .15em;
	margin: 0;
}

h1{
	font-size: 2.8125em;
}

h2{
	font-size: 2.8125em;
	border-bottom: 1px solid #787878;
}
	h2 + p{
		margin: .75em 0;
	}


h3{
	font-size: 1.5em;
	margin-top: 1em;
}
	h3 > a{
		color: inherit;
	}

h4{
	font-size: 1.25em;
}

h5{
	font: 600 1em "Open Sans";
}

p{
	font-size: .95em;
}
	/** Clingy paragraphs */
	p.tuck{
		margin-top: 0;
	}
	h3 + .tuck{
		margin-top: -.15em;
	}


hr{
	margin: .5em 0;
	padding: 0;
	border: 1px solid #787878;
	border-width: 1px 0 0;
	clear: both;
}

/** Lists */
ul, ol{
	padding-left: 1.3em;
	margin-top: .5em;
}

dl{
	position: relative;
	padding-left: 5em;
	margin: .25em auto;
}
	dt{
		position: absolute;
		left: 0;
		text-transform: lowercase;
		font-weight: bold;
		width: 5em;
	}
		dt::after{
			content: ":";
		}

	dd{
		display: inline;
		margin: 0;
	}
		dd::after{
			content: "";
			display: block;
			clear: both;
		}


/** Form elements */
fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}


input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
textarea{
	background: #c5c4c4;
	border: 0;
	padding: .5em;

	-webkit-transition:	.3s ease all;
	-moz-transition:	.3s ease all;
	-o-transition:		.3s ease all;
	transition:			.3s ease all;
}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="url"]:focus,
	input[type="email"]:focus,
	textarea:focus{
		background-color: #ddd;
	}


/** Blue buttons */
input[type="submit"],
input[type="reset"],
input[type="button"],
button, .btn, .btn:link, .btn:visited{
	background: #009ed5;
	color: #fff;
	font: 600 .75em/1.5em "Open Sans";
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	display: inline-block;
	padding: .5em .9em;
	cursor: pointer;
	border: 0;

	-webkit-transition:	.15s linear all;
	-moz-transition:	.15s linear all;
	-o-transition:		.15s linear all;
	transition:			.15s linear all;
}
	/** Rollover state */
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	button:hover, .btn:hover{
		background: #f6c500;
		color: #000;
	}

	/** Tasty-looking, golden call-to-action */
	button.gold,
	input.gold,
	.gold.btn{
		background: #f6c500;
		text-shadow: none;
		color: #000;
		padding-top:	.4em;
		padding-bottom:	.4em;
	}
		button.gold:hover,
		input.gold:hover,
		.gold.btn:hover{
			background: #000;
			color: #fff;
		}

	/** Generated ">" arrow prefixing button's label. */
	.btn.next::before,
	button.next::before{
		content: "\25b7";
		font: .75em/normal "OCDIcons";
		display: inline-block;
		margin: 0 .5em 0 -.3em;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}

	/** Bigger, blockier button */
	.btn.big,
	button.big,
	input.big{
		font-size: 1em;
		font-weight: normal;
		padding: .45em 1.3em;
		margin: .5em 0;
	}



/*=============================================================================*
	2. PROJECT-SPECIFIC
===============================================================================*/

/** Replaced logos */
.r.aana{
	background-image: url("../img/aana.png"); width: 4.12em;
}


/** Italicised blue writing, typically displayed underneath titles. */
p.big{
	color: #009ed5;
	font: italic 600 1.125em "Open Sans";
}


/** Hard-edged silhouette against a circled background. */
.badge{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font: 4em/1 OCDIcons;
	color: #fff;
	width:	1em;
	height:	1em;
}
	.badge > img{
		max-width: 80%;
		position: absolute;
		top:	50%;
		left:	50%;

		-webkit-transform:	translate(-50%, -50%);
		-moz-transform:		translate(-50%, -50%);
		-ms-transform:		translate(-50%, -50%);
		-o-transform:		translate(-50%, -50%);
		transform:			translate(-50%, -50%);
	}

	/** Circled background */
	.badge::before{
		content: "";
		z-index: -1;
		position: absolute;
		width: 100%;
		padding-top: 100%;
		background-color: #171717;

		-webkit-border-radius:	50%;
		-moz-border-radius:		50%;
		border-radius:			50%;
	}

	/** Generated icons */
	.badge::after{
		position: absolute;
		top:	50%;
		left:	0;
		width:	100%;
		margin-top: -.5em;
		text-align: center;
		font-size: .7em;
	}
		.badge.chess::after{
			content: "\265e";
			line-height: .9;
			font-size: .6em;
		}

		.badge.fb::after{
			font-size: .58em;
			content: "F";
		}

		.badge.pencil::after{
			content: "\270f";
			font-size: .47em;
			line-height: .9;
		}

		.badge.sp::after{
			content: "\e606";
		}
		.badge.book::after{
			content: "\1f56e";
			line-height: .9;
			font-size: .65em;
		}
		.badge.teacher::after{
			content: "\e604";
			line-height: .9;
		}


/** Lists bulleted with pointy arrows instead of dots */
.chevrons{
	list-style-type: none;
	padding-left: 2em;
}
	.chevrons > li::before{
		content: "\25b7";
		font: bold .5em/1.8 OCDIcons;
		position: absolute;
		margin: .6em 0 0 -1.8em;
	}

	


/*=============================================================================*
	3. COMPONENTS & WIDGETS
===============================================================================*/

.control{
	display: none;
}
	.control:checked ~ .fold{
		max-height: 0 !important;
		overflow: hidden;
	}



/** Basic rotating banner. */
.rotator{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: .143em auto;
	font-size: 3.5em;
	max-width: 100%;
	width:	6.12em;
	height:	1em;

	-webkit-transition:	.3s ease all;
	-moz-transition:	.3s ease all;
	-o-transition:		.3s ease all;
	transition:			.3s ease all;
}
	/** Navigation controls */
	.rotator > .n{
		position: absolute;
		display: block;
		text-align: left;
		text-indent: -999em;
		cursor: pointer;
		z-index: 8;
		bottom:	0;
		top:	0;
		width:	1em;
		height:	1em;

		-webkit-user-select:	none;
		-moz-user-select:		none;
		-ms-user-select:		none;
		user-select:			none;
	}
		/** Arrow-buttons */
		.n::after{
			display: block;
			position: absolute;
			top:	50%;
			right:	0;
			left:	0;
			margin: -.5em .2em 0;
			font: .4em OCDIcons;
			text-indent: 0;
		}
			.n.prev{		right:	  100%;		}
			.n.next{		left:	  100%;		}
			.n.next::after{	content: "\3009";	}
			.n.prev::after{ content: "\3008"; text-align: right; }


	.rotator > ul{
		display: block;
		position: relative;
		overflow: hidden;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width:	100%;
		height:	100%;
	}
		.rotator > ul > li{
			position: absolute;
			padding: 0;
			margin:  0;
			opacity: 0;
			top:	0;
			left:	0;
			bottom:	0;
			right:	0;
			
			-webkit-transition:	.8s ease opacity;
			-moz-transition:	.8s ease opacity;
			-o-transition:		.8s ease opacity;
			transition:			.8s ease opacity;
		}
			.rotator > ul > li > img{
				width: 100%;
				max-height: 100%;
				vertical-align: 8%;
			}

		.rotator > ul > .active{
			opacity: 1;
		}


/** Sliding callouts */
.callout{
	position: fixed;
	bottom:	0;
	right:	0;
	z-index: 8;

	/** Ensure hardware acceleration is enforced */
	-webkit-transform-style:		preserve-3d;
	-moz-transform-style:			preserve-3d;
	transform-style:				preserve-3d;
	-webkit-backface-visibility:	hidden;
	-moz-backface-visibility:		hidden;
	backface-visibility:			hidden;


	/** 2D transforms */
	-webkit-transform:	translateX(100%);
	-moz-transform:		translateX(100%);
	-ms-transform:		translateX(100%);
	-o-transform:		translateX(100%);
	transform:			translateX(100%);

	/** 3D transforms for better performance in browsers that support them */
	-webkit-transform:	translate3d(100%, 0, 0);
	-moz-transform:		translate3d(100%, 0, 0);
	-o-transform:		translate3d(100%, 0, 0);
	transform:			translate3d(100%, 0, 0);
}
	.show.callout{
		-webkit-transform:	translateX(0%);
		-moz-transform:		translateX(0%);
		-ms-transform:		translateX(0%);
		-o-transform:		translateX(0%);
		transform:			translateX(0%);

		-webkit-transform:	translate3d(0, 0, 0);
		-moz-transform:		translate3d(0, 0, 0);
		-o-transform:		translate3d(0, 0, 0);
		transform:			translate3d(0, 0, 0);
	}


/** Lightbox-style modal dialogues */
.lightbox{
	position: fixed;
	overflow: hidden;
	opacity: 0;
	width:	100%;
	height:	100%;
	left:	-9999%;
	top:	-9999%;
	background-color: rgba(255,255,255,.5);
	z-index: 9;
	white-space: nowrap;

	-webkit-transition:	.3s ease opacity 0s, 0s step-end top .3s, 0s step-end left .3s;
	-moz-transition:	.3s ease opacity 0s, 0s step-end top .3s, 0s step-end left .3s;
	-ms-transition:		.3s ease opacity 0s, 0s step-end top .3s, 0s step-end left .3s;
	-o-transition:		.3s ease opacity 0s, 0s step-end top .3s, 0s step-end left .3s;
	transition:			.3s ease opacity 0s, 0s step-end top .3s, 0s step-end left .3s;
}
	.show.lightbox{
		top:	0;
		left:	0;
		opacity: 1;

		-webkit-transition-delay:	0s, 0s, 0s;
		-moz-transition-delay:		0s, 0s, 0s;
		-ms-transition-delay:		0s, 0s, 0s;
		-o-transition-delay:		0s, 0s, 0s;
		transition-delay:			0s, 0s, 0s;
	}

	/** Wrapper element for the lightbox's content */
	.lightbox > :first-child{
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		background: #fff;
		color: #000;
		color: initial;
	}

	/** Centring aide */
	.lightbox::after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}



/** Shared transition rules for callouts/lightboxes */
.callout,
.callout > .close,
.lightbox .close{
	-webkit-transition:	.3s ease all;
	-moz-transition:	.3s ease all;
	-o-transition:		.3s ease all;
	transition:			.3s ease all;
}
	/** Close button */
	.callout > .close,
	.lightbox .close{
		position: absolute;
		cursor: pointer;
		top:	0;
		right:	0;
		margin: 0 .25em 0 0;
		font: 600 2.375em/1 "Open Sans";
	}
		.callout > .close:hover,
		.lightbox .close:hover{
			color: #009ed5;
		}
		/** Generated × symbol */
		.callout > .close::before,
		.lightbox .close::before{
			content: "\D7";
		}



/*=============================================================================*
	4. CLASSES
===============================================================================*

/** Structural classes */
.centre{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70em;
}

.nonvisual{
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	border: 0;
	padding: 0;
}

.r/*eplaced elements (logos/text banners/etc) */{
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	text-align: left !important;
	text-indent: -99999px;
	height: 1em;
	
	-webkit-background-size:	auto 100%;
	-khtml-background-size:		auto 100%;
	-moz-background-size:		auto 100%;
	-ms-background-size:		auto 100%;
	-o-background-size:			auto 100%;
	background-size:			auto 100%;
}

/** Class for marking up abbreviations when the semantic significance of an <abbr> element is undesired. */
.abbr			{text-transform: uppercase;}
.abbr > span	{display: none; speak: none;}


/** List styles */
ul.plain,
ol.plain,
.plain > li{
	list-style: none;
	padding: 0;
	margin: 0;
}



/** Forcefully hidden element */
.hidden{
	display: none !important;
}

/** Whitespace alteration */
.pre-line	{	white-space: pre-line;	}
.nowrap		{	white-space: nowrap;	}
