body{
	overflow-y: auto;
}

main{
	position: absolute;
	top:	3.125em;
	left:	0;
	bottom:	0;
	right:	0;
}

/** Hide the page heading on mobile, as well as the footer for some reason. */
h2, #bottom{
	display: none;
}



/** Reel navigation */
#grid-nav{
}
	/** Navigation buttons */
	#grid-nav > div{
		position: absolute;
		background: #000;
		font:	1.5em/2 OCDIcons;
		top:	.5em;
		width:	2em;
		height:	2em;
		color:	#fff;
		cursor: pointer;
		text-align: center;

		/** Ensure tapping/clicking doesn't start a text selection. */
		-webkit-user-select:	none;
		-moz-user-select:		none;
		-ms-user-select:		none;
		user-select:			none;
	}
		/** Hover state, briefly displayed when button's tapped on mobile (hence no transitions). */
		#grid-nav > div:hover{		background-color: #686868;	}

		/** Generated arrowheads */
		#grid-nav > .prev::before{	content: "\25C1";	}
		#grid-nav > .next::before{	content: "\25B7";	}
		#grid-nav > .next{			right:	0;			}




/** Positioned frame enclosing clients grid. Mainly used for compatibility reasons in IE. */
#clients-frame{
	position: absolute;
	color:	#c1c1c1;
	top:	4.75em;
	left:	0;
	right:	0;
	height:	100vw;
	outline: 1px solid;
	overflow: hidden;
}
	/** Actual list of clients */
	#clients-list{
		position:	absolute;
		list-style:	none;
		padding:	0;
		margin:		0;
		width:		100%;
		height:		100%;
		overflow:	hidden;

		/** Pigsty of prefixed compatibility crap */
		display:					-webkit-box;
		display:					-moz-box;
		display:					-ms-flexbox;
		display:					-webkit-flex;
		-webkit-box-direction:		normal;
		-moz-box-direction:			normal;
		-webkit-box-orient:			vertical;
		-moz-box-orient:			vertical;
		-webkit-flex-direction:		column;
		-ms-flex-direction:			column;
		-webkit-flex-wrap:			wrap;
		-ms-flex-wrap:				wrap;
		-webkit-box-pack:			start;
		-moz-box-pack:				start;
		-webkit-justify-content:	flex-start;
		-ms-flex-pack:				start;
		-webkit-align-content:		stretch;
		-ms-flex-line-pack:			stretch;
		-webkit-box-align:			start;
		-moz-box-align:				start;
		-webkit-align-items:		flex-start;
		-ms-flex-align:				start;


		/** W3C-recommended styles */
		display:				flex;
		flex-direction:			column;
		flex-wrap:				wrap;
		justify-content:		flex-start;
		align-content:			stretch;
		align-items:			flex-start;
	}
		/** Fix a bug with legacy versions of Firefox, where all flex containers would be treated as inline-blocks. */
		@-moz-document url-prefix(){
			#clients-list{ width: 100%; }
		}


		#clients-list > li{
			padding:	0;
			margin:		0;
			width:		33.3333%;
			outline:	1px solid currentColor;
			background:	#fff;
			position:	relative;

			/** Browser support junk / hideous mess */
		    -webkit-order:			0;
		    -ms-flex-order:			0;
			-webkit-box-flex:		0;
			-moz-box-flex:			0;
			-webkit-flex:			0 1 auto;
			-ms-flex:				0 1 auto;
			-webkit-align-self:		stretch;
			-ms-flex-item-align:	stretch;

			/** Clean, beautifully minimalist flexbox properties */
			order: 0;
			flex: 0 1 auto;
			align-self: stretch;
		}
			/** Aspect ratio control */
			#clients-list > li::before{
				content: "";
				display: block;
				padding-top: 100%;
			}

			#clients-list > li > img{
				display: block;
				position: absolute;
				top:	0;
				left:	0;
				width:	100%;
				height:	100%;
			}

			/** Roles */
			#clients-list .details{
				display: none;
			}


/** TWEAKPOINT: Switch to 2 rows for smartphones with aspect ratios of 0.866+ */
@media (max-width: 37.5em) and (min-aspect-ratio: 13/15){
	#clients-frame{
		height: 100%;
	}
}

/** TWEAKPOINT: Switch to 1 row for height-challenged smartphones held horizontally */
@media (max-width: 37.5em) and (min-aspect-ratio: 5/4){
	#clients-frame{
		height: 50vw;
		outline: 0;
		border-top: 1px solid;
		top: 5em;
	}
}



/*=============================================================================*
	2. TABLETS (600+)
===============================================================================*/
@media (min-width: 37.5em){

main{
	max-width: none;
}


/** Bring the heading back into view */
h2{
	display: block;
	text-align: center;
	border: 0;
}


/** Use translucent grey shading for the navigation buttons */
#grid-nav > div,
#grid-nav > div:hover{
	background-color: #ccc;
	position: fixed;
	top:	50%;
	z-index: 9;
	opacity: .5;
	color: #000;
	height: 3.35em;
	line-height: 0;

	-webkit-transition:	.15s ease opacity;
	-moz-transition:	.15s ease opacity;
	-o-transition:		.15s ease opacity;
	transition:			.15s ease opacity;
}
	#grid-nav > div:hover{
		opacity: .8;
	}

	#grid-nav > div::before{
		position: absolute;
		left:	0;
		top:	50%;
		width:	100%;
	}


#clients-frame{
	top: 12vh;
	height:						84vh;
	height:	-webkit-calc(		84vh - 3.125em);
	height:	-moz-calc(			84vh - 3.125em);
	height:	calc(				84vh - 3.125em);
	margin-bottom: 1em;
	outline: 0;
	border-top: 1px solid;
}
	#clients-list > li{
		width:					 55vh;
		width:	-webkit-calc(	(55vh - 3.125em) / 2);
		width:	-moz-calc(		(55vh - 3.125em) / 2);
		width:	calc(			(55vh - 3.125em) / 2);
	}
}



/*=============================================================================*
	3. DESKTOP (1025.6+)
===============================================================================*/
@media (min-width: 64.1em){
main{
	overflow: hidden;
}
#clients-frame{
	top: 16vh;
	height:						85vh;
	height:	-webkit-calc(		85vh - 3.125em);
	height:	-moz-calc(			85vh - 3.125em);
	height:	calc(				85vh - 3.125em);
	margin-bottom: 1em;
}
	#clients-list > li{
		width:					 84vh;
		width:	-webkit-calc(	(84vh - 3.125em) / 2);
		width:	-moz-calc(		(84vh - 3.125em) / 2);
		width:	calc(			(84vh - 3.125em) / 2);
	}
}

/** Reveal the roles & responsibilities lists when there's enough room to comfortably display 'em. */
@media (min-width: 64em) and (min-height: 40em){

	/** Roles & responsibilities */
	#clients-list .details{
		display: block;
		position: absolute;
		background: #009ed5;
		color: #fff;
		top:	0;
		left:	0;
		right:	0;
		bottom:	0;
		opacity: 0;
		padding: 1em;
		cursor: default;

		-webkit-transition:	.3s ease opacity;
		-moz-transition:	.3s ease opacity;
		-o-transition:		.3s ease opacity;
		transition:			.3s ease opacity;
	}
		#clients-list > li:hover > .details{
			opacity: 1;
		}

		/** Name of client */
		#clients-list .name{
			font: bold italic 1.25em Helvetica, Arial, sans-serif;
			margin-bottom: 1.6em;
		}

		/** What we did for 'em. */
		#clients-list .details > ul{
			list-style: disc;
			-webkit-font-smoothing: subpixel-antialiased;
			-moz-osx-font-smoothing: auto;
		}
}


/** TWEAKPOINT: Width 600+, Height < 640 */
@media (min-width: 37.5em) and (max-height: 40em){
main{
	overflow: visible;
	overflow: initial;
}
#clients-frame{
	height: 24em;
	top: 4.5em;
}
	#clients-list{
		height: 100%;
	}
		#clients-list > li{
			width: 11.3125em;
		}
}


/** TWEAKPOINT: Width 600+, Height < 640 */
@media (min-width: 64em) and (max-height: 40em){
h2{
	font-size: 4em;
}
#clients-frame{
	top: 5em;
}
}
