main{
	position: absolute;
	top:	3.125em;
	left:	0;
	bottom:	0;
	right:	0;
}

/** Hide the page heading on mobile, as well as the footer for some reason. */
h2, #bottom{
	display: none;
}



/** Reel navigation */
#grid-nav{
}
	/** Navigation buttons */
	#grid-nav > div{
		position: absolute;
		background: #000;
		font:	1.5em/2 OCDIcons;
		top:	.5em;
		width:	2em;
		height:	2em;
		color:	#fff;
		cursor: pointer;
		text-align: center;
	}
		/** Hover state, briefly displayed when button's tapped on mobile (hence no transitions). */
		#grid-nav > div:hover{		background-color: #686868;	}

		/** Generated arrowheads */
		#grid-nav > .prev::before{	content: "\25C1";	}
		#grid-nav > .next::before{	content: "\25B7";	}
		#grid-nav > .next{			right:	0;			}



#clients-frame{
	position: absolute;
	outline: 1px solid;
	color:	#c1c1c1;
	top:	4.75em;
	left:	0;
	right:	0;
	bottom:	0;

	-webkit-transform:	rotate(-90deg) translateX(-100%);
	-moz-transform:		rotate(-90deg) translateX(-100%);
	-ms-transform:		rotate(-90deg) translateX(-100%);
	-o-transform:		rotate(-90deg) translateX(-100%);
	transform:			rotate(-90deg) translateX(-100%);
}
	#clients-frame,
	#clients-list,
	#clients-list > li{
		-webkit-transform-style:		preserve-3d;
		-moz-transform-style:			preserve-3d;
		transform-style:				preserve-3d;

		-webkit-backface-visibility:	hidden;
		-moz-backface-visibility:		hidden;
		backface-visibility:			hidden;
		
		-webkit-transform-origin:	0 0;
		-moz-transform-origin:		0 0;
		-ms-transform-origin:		0 0;
		-o-transform-origin:		0 0;
		transform-origin:			0 0;
	}

	/** Actual list of clients */
	#clients-list{
		list-style: none;
		padding: 0;
		margin: 0;

		-webkit-transform:	scaleX(-1) translateX(-100%);
		-moz-transform:		scaleX(-1) translateX(-100%);
		-ms-transform:		scaleX(-1) translateX(-100%);
		-o-transform:		scaleX(-1) translateX(-100%);
		transform:			scaleX(-1) translateX(-100%);
	}
		/** Clearfix */
		#clients-list::after{
			content: "";
			display: block;
			clear: both;
		}

		#clients-list > li{
			-webkit-transform:	rotate(-90deg) scaleX(-1);
			-moz-transform:		rotate(-90deg) scaleX(-1);
			-ms-transform:		rotate(-90deg) scaleX(-1);
			-o-transform:		rotate(-90deg) scaleX(-1);
			transform:			rotate(-90deg) scaleX(-1);

			width: 33.3333%;
			background: #fff;
			float: left;
			outline: 1px solid;
			margin: 0;
			position: relative;
		}
			/** Aspect ratio control */
			#clients-list > li::before{
				content: "";
				display: block;
				padding-top: 100%;
			}

			/** Logo */
			#clients-list > li > img{
				position: absolute;
				width:	100%;
				top:	0;
			}

			/** Hide involvement details on mobile */
			#clients-list > li > .details{
				display: none;
			}



/*=============================================================================*
	2. TABLETS (600+)
===============================================================================*/
@media (min-width: 37.5em){

main{
	max-width: none;
}


/** Bring the heading back into view */
h2{
	display: block;
	text-align: center;
	border: 0;
}


/** Use translucent grey shading for the navigation buttons */
#grid-nav > div,
#grid-nav > div:hover{
	background-color: #ccc;
	position: fixed;
	top:	50%;
	z-index: 9;
	opacity: .5;
	color: #000;
	height: 3.35em;
	line-height: 0;

	-webkit-transition:	.15s ease opacity;
	-moz-transition:	.15s ease opacity;
	-o-transition:		.15s ease opacity;
	transition:			.15s ease opacity;
}
	#grid-nav > div:hover{
		opacity: .8;
	}

	#grid-nav > div::before{
		position: absolute;
		top:	50%;
		width:	100%;
		left:	0;
	}


/** Switch to two rows for the clients reel */
#clients-frame{
	position: static;
	outline: none;
}
	#clients-list{
		width: 50%;
		max-width: 37.5em;
		margin-left: auto;
	}
		#clients-list > li{
			width: 50%;
		}
}


/** Debug class toggled via console */
#clients-frame.no-trans,
#clients-frame.no-trans *{
	transform: none !important;
}
